---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Desafíos - Portfolio Gestión Gerencial">
	<h1>Desafíos</h1>
	<ul>
		<li><a href="/desafios/d3">Desafío D3</a></li>
		<li><a href="/desafios/d4">Desafío D4</a></li>
		<li><a href="/desafios/d5">Desafío D5</a></li>
		<li><a href="/desafios/d6">Desafío D6</a></li>
		<li><a href="/desafios/d7">Desafío D7</a></li>
	</ul>
</Layout>