---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto - Portfolio Gestión Gerencial">
	<h1>Contacto</h1>
	<h2>Reflexión Final del Equipo</h2>
	<p>Reflexión final aquí.</p>
	<h2>Links Útiles</h2>
	<ul>
		<li><a href="#">Link 1</a></li>
		<li><a href="#">Link 2</a></li>
	</ul>
</Layout>