---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mapa Conceptual - Portfolio Gestión Gerencial">
	<h1>Mapa Conceptual</h1>
	<h2>Nivel 1</h2>
	<p>Mapa conceptual para nivel 1.</p>
	<h2>Nivel 2</h2>
	<p>Mapa conceptual para nivel 2.</p>
	<h2>Nivel 3</h2>
	<p>Mapa conceptual para nivel 3.</p>
</Layout>