---
import Layout from '../layouts/Layout.astro';
---

<Layout title="RPA - Portfolio Gestión Gerencial">
	<h1>RPA</h1>
	<h2>Integrante 1</h2>
	<p>Contenido RPA para integrante 1.</p>
	<h2>Integrante 2</h2>
	<p>Contenido RPA para integrante 2.</p>
	<h2>Integrante 3</h2>
	<p>Contenido RPA para integrante 3.</p>
</Layout>