<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title || 'Portfolio Gestión Gerencial'}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/equipo">Equipo</a>
				<a href="/desafios">Desafíos</a>
				<a href="/rpa">RPA</a>
				<a href="/mapa-conceptual">Mapa Conceptual</a>
				<a href="/tpi">TPI</a>
				<a href="/contacto">Contacto</a>
			</nav>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: Arial, sans-serif;
	}
	header {
		background-color: #f0f0f0;
		padding: 1rem;
	}
	nav {
		display: flex;
		gap: 1rem;
	}
	main {
		padding: 1rem;
	}
</style>
